<?xml version="1.0"?>
<web-app>
	<filter>
		<filter-name>Guice Filter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Guice Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>dk.medcom.cda.CDAContextListener</listener-class>
	</listener>
	<user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	</user-data-constraint>
	<error-page>
        <error-code>404</error-code>
        <location>/index.html</location>
    </error-page>
</web-app>
